.todo-btn-set {
    width: 100%;
}
.todo-btn-confirm, .todo-btn-reject {
    font-size: 1.5rem!important;
    width: 50%;
}
.todo-btn-reject {
    padding-right: .5em;
    padding-left: 0;
}
.todo-btn-confirm {
    padding-right: 0;
    padding-left: .5em;
}
.ui.buttons .or:before {
    text-transform: uppercase;
    margin-top: -0.2em;
}
.selected {
    background-color: #dddddd!important;
}
.details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #0E566C;
}
tr:hover {
    cursor: pointer;
}